.filter_genre{
  position: absolute;
  top: -27px;
  left: 8%;
  transform: translate(-50%, -50%);
  width: 200px;
}

.filter_origin{
  position: absolute;
  top: -92px;
  left: 30%;
 
}

.select {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;

  select,
  &::after {
    grid-area: select;
  }
  width: 170px;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
}

select {
  
  appearance: none;
  background-color: transparent;
  padding: 5px;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  z-index: 1;
  border-radius: 5px;
  outline: none;
  border: 1px solid #00B4CC;
  background: #1f1a24;
  text-align: center;
  color: #fff;
}

select:hover{
  background-color: #2b2433;
}
.show_all-btn{
  width: 100px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #1f1a24;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 75%;
  left: 49%;
  transform: translate(-50%, -50%);
}