.select {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;

  select,
  &::after {
    grid-area: select;
  }
  width: 170px;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
}

.sort{
  position: absolute;
  top:11%;
  left: 22%;
  transform: translate(-50%, -50%);
}

.sort:after {
  content: '<>';
  font: 17px "Consolas", monospace;
  color: white;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 11px;
  /*Adjust for position however you want*/
  
  top: 5px;
  padding: 0 0 2px;
  border-bottom: 1px solid #999;
  /*left line */
  
  position: absolute;
  pointer-events: none;
  z-index: 2;
}

select {
  
  appearance: none;
  background-color: transparent;
  padding: 5px;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  z-index: 1;
  border-radius: 5px;
  outline: none;
  border: 1px solid #00B4CC;
  background: #1f1a24;
  text-align: center;
  color: #fff;
}