.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #a8a5a5;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: spin 1.5s linear infinite;
  margin: 200px auto;
  font-size: 30px;
  font-weight: 700;
  color:rgba(234, 240, 246, 0.8)
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 