.not-found{
  h2{
    color:white;
    font-weight: 700;
  }
}

.not-found-btn{
  width:140px;
  height:50px;
  border-width:1px;
  color:#fff;
  border-color:#18ab29;
  font-weight:bold;
  border-radius: 5px;
  text-shadow: 1px 1px 0px #2f6627;
  background:#1f1a24;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}